/* shrink headerbars */
headerbar {
    min-height: 0px;
    padding-left: 2px; /* same as childrens vertical margins for nicer proportions */
    padding-right: 2px;
}

headerbar entry,
headerbar spinbutton,
headerbar button,
headerbar separator {
    margin-top: 0px; /* same as headerbar side padding for nicer proportions */
    margin-bottom: 0px;
}

/* shrink ssd titlebars */
.default-decoration {
    min-height: 0; /* let the entry and button drive the titlebar size */
    padding: 0px
}

.default-decoration .titlebutton {
    min-height: 0px; /* tweak these two props to reduce button size */
    min-width: 0px;
}

window.ssd headerbar.titlebar {
    padding-top: 2px;
    padding-bottom: 2px;
    min-height: 0;
}

window.ssd headerbar.titlebar button.titlebutton {
    padding-top: 2px;
    padding-bottom:2px;
    min-height: 0;
}

notebook tab {
    min-height: 0;
    padding-top: 2px;
    padding-bottom: 2px;
}

notebook tab button {
    min-height: 0;
    min-width: 0;
    padding: 2px;
    margin-top: 2px;
    margin-bottom: 2px;
}

notebook button {
    min-height: 0;
    min-width: 0;
    padding: 2px;
}

