/* shrink ssd titlebars */
.default-decoration {
    min-height: 0; /* let the entry and button drive the titlebar size */
    padding: 0px
}

.default-decoration .titlebutton {
    min-height: 0px; /* tweak these two props to reduce button size */
    min-width: 0px;
}

window.ssd headerbar.titlebar {
    padding-top: 0;
    padding-bottom: 0;
    min-height: 0;
}

window.ssd headerbar.titlebar button.titlebutton {
    padding-top: 0;
    padding-bottom: 0;
    min-height: 0;
}

notebook {
	padding: 0;
}

notebook > header {
    padding: 0;
    margin-bottom: 0;
    margin-top: -2px;
    min-height: 0;
    border: none;
}

notebook > header button {
    padding: 0;
    margin-bottom: -4px;
    margin-top: -2px;
    min-height: 0;
    border: none;
}

notebook > header > tabs > tab {
    padding: 0;
    margin-bottom: 0;
    margin-top: -2px;
    min-height: 0;
    border: none;
}

notebook > header > tabs > tab label {
    padding: 0;
    margin-bottom: -4px;
    margin-top: -2px;
    min-height: 0;
    border: none;
}

notebook > header > tabs > tab:checked {
    box-shadow: inset 0 -1px #008000;
}

notebook > header > tabs > tab:not(:checked):not(:hover) label {
    opacity: 0.75;
}

window.csd .titlebar:not(headerbar),
window.csd .titlebar {
	background: linear-gradient(to bottom, rgba(69, 70, 70, 1), rgba(44, 52, 55, 1));
	min-height: 0;
	padding-top: 0;
	padding-bottom: 0;
	box-shadow: none;
	border-bottom: 1px solid #14191C;
}

window.csd .titlebar:not(headerbar):backdrop,
window.csd .titlebar:backdrop {
	min-height: 0;
	padding-top: 0;
	padding-bottom: 0;
	box-shadow: none;
	border-bottom: 1px solid #14191C;
}

headerbar,
headerbar.titlebar {
	background: linear-gradient(to bottom, rgba(69, 70, 70, 1), rgba(51, 57, 59, 1));
	min-height: 16px;
	padding-top: 0;
	padding-bottom: 0;
	box-shadow: none;
	border: none;
	border-bottom: 1px solid #33393B;
}

headerbar:backdrop,
headerbar.titlebar:backdrop {
	background: #33393B;
	box-shadow: none;
	border-bottom: 1px solid #33393B;
}

headerbar button.titlebutton,
headerbar.titlebar button.titlebutton {
	min-height: 14px;
	min-width: 14px;
	padding: 0;
	margin-top: 2px;
	margin-bottom: 2px;
}

headerbar button,
headerbar widget {
	background: linear-gradient(to bottom, rgba(69, 70, 70, 1), rgba(44, 52, 55, 1));
	min-height: 18px;
	min-width: 18px;
	padding: 0;
	margin-top: 4px;
	margin-bottom: 4px;
}

headerbar entry,
headerbar switch,
headerbar spinbutton {
	min-height: 18px;
	min-width: 18px;
	padding: 0;
	margin-top: 4px;
	margin-bottom: 4px;
}

headerbar > separator {
	min-height: 16px;
	padding: 0;
	margin-top: 4px;
	margin-bottom: 4px;
}

button > box > label.counter-label {
	margin-top: 3px;
	margin-bottom: 3px;
}

button {
	min-height: 10px;
}

entry {
	min-height: 10px;
}

menubar > menuitem,
.menubar > menuitem {
	padding: 1px 6px;
	margin: 0;
}

menu,
.menu {
	padding: 0;
	margin: 0;
}

menu menuitem,
.menu menuitem {
	min-height: 10px;
	min-width: 24px;
	padding: 3px;
}

decoration {
	background: #444545;
	border-radius: 2px 2px 0 0;
}

decoration:backdrop {
	background: #33393B;
	border-radius: 2px 2px 0 0;
}

